.radarList
	display: flex
	flex-wrap: wrap
	margin-left: -30px

.radarItem
	display: flex
	flex-direction: column
	border: 1px solid #ddd
	height: 198px
	width: 198px
	justify-content: center
	align-items: center
	flex: 0 0 198px
	margin-left: 30px
	margin-bottom: 30px
