.testBlock
	display: flex
	flex-direction: center
	border: 1px solid #818a91
	height: 200px
	width: 200px
	justify-content: center
	align-items: center
	flex: 0 0 200px
	margin-left: 30px
	margin-bottom: 30px