script(src="/vendor/jquery-2.2.4.js")
script(src="/vendor/modernizr.js")
script(src="/vendor/jquery.browser-0.1.0.js")
script(src="/vendor/flexibility.js")
script(src="/vendor/tether/js/tether.min.js")
script(src="/vendor/bs4/js/bootstrap.min.js")
script(src="/vendor/isvg.js")

//- webpack
//- script(src="/js/app.min.js")

//- without webpack
script(src="/js/common.js")