meta(charset="utf-8")
block title
meta(name="viewport", content="width=device-width")
meta(name="description", content="")
meta(name="keywords", content="")
include favicons/_favicons.html
link(href="/vendor/bs4/css/bootstrap.min.css", type="text/css", rel="stylesheet")
link(href="/vendor/font/font-awesome-4.7.0/css/font-awesome.min.css", type="text/css", rel="stylesheet")
link(href="/vendor/tether/css/tether.min.css", type="text/css", rel="stylesheet")
link(href="/css/app.css", type="text/css", rel="stylesheet")
link(href="/apple-touch-icon.png", rel="apple-touch-icon")
