doctype html
html
	head
		meta(http-equiv="content-type", content="text/html; charset=utf-8")
		title Pages
		link(rel="stylesheet", type="text/css", href="app/bootstrap.min.css")
		style(type="text/css").
			b {padding-right: 20px}
			b.padd {padding-right: 11px}
			hr {margin-top: 10px; margin-bottom: 10px}
	body
		.container
			h2(style="text-align: center") Pages
			ul(style="margin: 0 auto 50px; width: 600px")
				li
					a(href="index.html") Index
